<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%=tablename%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        function deleteLog(id) {
            var data = {};
            data.payload = id;
            $.ajax({
                type: 'DELETE',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                url: '/log/delete',
                success: function (res) {
                    if (res.success) {
                        window.location = '/log/list'
                    } else {
                        alert('Cannot Deleted')
                    }
                },
                error: function (e) {
                    alert("Cannot Deleted")
                }
            });
        }
    </script>

    <link rel="stylesheet" href="/../css/table.css">
</head>

<body>
    <%- include('partials/navbar')%>
    <h1><%=tablename%></h1>

    <!-- Pagination Start --> 
    <% if (totalpages > 0) { %>
    <ul class="pagination text-center">
        <% if (currentPage == 1) { %>
        <li class="disabled"><a>First</a></li>
        <% } else { %>
        <li><a href="/log/list">First</a></li>
        <% } %>
        <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(currentPage) + 4) && i <= totalpages; i++) { %>
        <% if (i == currentPage) { %>
        <li class="active"><a><%= i %></a></li>
        <% } else { %>
        <li><a href="/log/list/?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(currentPage) + 4 && i < totalpages) { %>
        <li class="disabled"><a>...</a></li>
        <% } %>
        <% } %>
        <% if (currentPage == totalpages) { %>
        <li class="disabled"><a>Last</a></li>
        <% } else { %>
        <li><a href="/log/list/?page=<%= totalpages %>">Last</a></li>
        <% } %>
    </ul>
    <% } %>
    <!-- Pagination End -->
    
    <!-- Columns Start --> 
    <table class="container">
        <thead>
            <tr>
                <% for(let i = 0 ; i<columns.length ; i++){%>
                <th class="col-names"><%=columns[i]%></th>
                <%}%>
                <th>Delete</th>
            </tr>
        </thead>
        <!-- Columns End --> 

        <!-- Data Start --> 
        <tbody>
            <% for(let i = 0 ; i<data.length ; i++){%>
            <tr id=<%= data[i][0] %>>
                <%for (let j = 0 ; j<data[i].length ; j++){%>
                <td><%=data[i][j]%></td>
                <%}%>
                <td><button href="#" id="<%= data[i][0] %>" onclick = "deleteLog(this.id)" class="btn
                btn-danger">Delete</button>
                </td>
                <%}%>
            <tr>
        </tbody>
        <!-- Data End --> 
    </table>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>


</body>

</html>